<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <%- include('_partials/aside') %>
      <div>
        <%- include('_partials/header') %>
        <main>
          <h1><%= title %></h1>
          <p>Welcome to <%= title %></p>
        </main>
      </div>
    </div>
  </body>
</html>
