<div class="container-list">
  <%- include('../_partials/aside') %>
    <div class="main-container">
      <div>
        <%- include('../_partials/header') %>
      </div>
      <main>
        <h1>Produtos</h1>
        <form>
          <input type="search" value="<%= search %>" name="search" placeholder="Buscar produto..." />
        </form>

        <% if (products.length===0) { %>
          <p>Nenhum produto cadastrado</p>
          <% } %>

            <ul>
              <% for (let i=0; i < products.length; i++) { %>
                <li>
                  <%= products[i].name %>
                  <%= products[i].price %>
                  <%= products[i].categories %>
                    <button id="<%= products[i].id %>" class="buttonDelete">Deletar</button>
                </li>
                <% } %>
            </ul>

            <div id="pagination">
              <% for (let i=0; i < lastpage; i++){ %>
                <a class="page <%=  +page === i + 1  ? 'active' : '' %>" href="/admin/products?page=<%= i+1 %>">
                  <%= i + 1 %>
                </a>
                <%} %><br />
            </div>

            <div>
              <a href="/admin/products/new">Cadastrar novo produto</a>
            </div>
      </main>
    </div>
</div>

<script src="/javascripts/deleteProduct.js"></script>
<link rel="stylesheet" href="/stylesheets/list.css" />
